


table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.td, th {
    padding: 8px;
    width: 150px;
}


th {
    text-align: center;
    font-weight: bold;
    font-size: 1rem;
    background-color: rgb(225, 241, 241);
}

td img {
    border-radius: 100px;
    padding: 10px;
}


td {
    text-align: center;
    border-bottom: solid 3px rgb(225, 241, 241);
    height: 170px;
    max-height: 170px;
}

tr td > p {
    padding: 10px;
}


.Abilities {
    content: "\a";
    white-space: pre;
}

.abilities {
    text-align: center;
}

.name {
    font-weight: bold;
}


button {
    background-color:rgb(85, 188, 211) ;
    border-radius: 20px;
    padding: 10px 20px 10px;
}



button:hover {
    transform: scale(1.2);
    font-weight: bold;
}
